.page {
    padding-top: 20px;
    margin: auto;
    width: 800px;
    color: rgb(47, 47, 50);
}

#header-icon {
    height: 37px;
    width: 37px;
    margin-top: -3px;
}

h3.header.icon {
    margin-top: 0px !important;
}